<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Classic Plugin" name="classicPlugin">
  <overlays>
    <overlay id="launch" resourcebundle="content/classicPlugin/resources/messages" priority="1">
      <button id="classicPluginButton" label="${openClassicPlugin}"
              command="Home.openFile('${tabName}', '${tabName}', 'api/repos/xanalyzer/service/selectSchema')"/>
    </overlay>
  </overlays>
  <external-resources/>
  <static-paths>
    <static-path url="/classicPlugin/webclient" localFolder="webclient"/>
  </static-paths>
  <content-types/>
</plugin>
