<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Classic Plugin" name="classicPlugin">
  <overlays>
    <overlay id="launch" resourcebundle="content/classicPlugin/resources/messages" priority="1">
      <button id="classicPluginButton" label="${openClassicPlugin}" command="window.parent.parent.mantle_openTab('${tabName}', '${tabName}', 'content/classicPlugin/webclient/index.html')"/>
    </overlay>
  </overlays>
  <external-resources/>
  <static-paths>
    <static-path url="/classicPlugin/resources" localFolder="resources"/>
    <static-path url="/classicPlugin/webclient" localFolder="webclient"/>
  </static-paths>
  <content-types/>
</plugin>
