bin/
dist/
js-lib/
lib/
test-lib/
eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.classpath
.project
projects/
plugins/
build-res/dojo-*
build-res/module-scripts/
*.class
*.jar
*.war
*.ear
*.iml
.idea
/junit*.properties
/test.properties
/obf-lib
.DS_Store
node_modules/
selenium*.log
client/src/main/javascript/requireBundlesCfg.js
build-res/pentaho-js-build.zip
build-res/pentaho-js-build/
build-res/requireCfg-raw.js
build-res/requireCfg.js
.tern-project
.ant-targets-build.xml
sql/testdata/load-foodmart.sql
target/
*.log
